<body>
    <section >
      <div class="card">
        <img class="primera_imagen" src="https://media.giphy.com/media/26tnqkPaDXV7EzPAQ/giphy-downsized-large.gif" alt="Este es GIR">
        <div class="rectangulo">
          <br>

            <div nz-col nzSpan="4">
              <div nz-row align="center">
                   <p style="margin-top:1px;color: #ffffff;font-size: 90px;font-weight: 500;"> 
                     {{now|date:'hh:mm:ss'}}</p>
              </div>
              
            </div>


        </div>
      </div>
      
    </section>
    <div class="button_align">
      <button class="primary_button loggin_button">Marcar hora</button>
    </div>
    

  </body>