<body>
  <nav>
      <div class="navbar_left">
          <ul>
              <li><a href="/">Inicio</a></li>
              <li><a routerLink="/register">Registrarse</a></li>
              <li><a routerLink="/login">Log in </a></li>
          </ul>
      </div>

      <div class="navbar_right">
          <ul>
              <li class="navbar_email">jordyorantes9@gmail.com</li>
          </ul>

      </div>
  </nav>
  <br>
  <img src="assets/imgs/logo_grupo.png" alt="imagen del grupo">
  <router-outlet> </router-outlet>
</body>
